<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
        <table class="table">
            <thead class="table-dark text-center">
                <tr>
                    <th>번호</th>
                    <th style="width:50%">제목</th>
                    <th>작성자</th>
                    <th>작성날짜</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="q, loop : ${paging}" class="text-center">

                    <td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>

                    <!-- 생성되는 id로 순서 적용<td th:text="${q.id}"></td>  -->

                    <td class="text-start">
                        <a th:href="@{|/question/detail/${q.id}|}" th:text="${q.subject}"></a>
                        <span th:if="${#lists.size(q.answerList) > 0}"
                              th:text="${#lists.size(q.answerList)}"
                              style="font-size: 13px; color: gray;"></span>
                    </td>
                    <td th:text="${q.author.username}"></td>
                    <td th:text="${#temporals.format(q.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">

                <!-- 이전 버튼: 0~9일 때는 숨기기 -->
                <li class="page-item"
                    th:if="${(paging.number / 10) * 10 > 0}"
                    th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${(paging.number / 10) * 10 - 10}|}">
                        <span>이전</span>
                    </a>
                </li>
                <!-- 페이지 블록 처리 -->
                <li th:each="page : ${#numbers.sequence(
                        (paging.number / 10) * 10,
                        T(java.lang.Math).min(((paging.number / 10) * 10 + 9), paging.totalPages - 1))}"
                    class="page-item"
                    th:classappend="${page == paging.number} ? 'active'">
                    <a class="page-link" th:text="${page + 1}" th:href="@{|?page=${page}|}"></a>
                </li>
                <!-- 다음 버튼: 마지막 블록이면 숨기기 -->
                <li class="page-item"
                    th:if="${(paging.number / 10) * 10 + 10 < paging.totalPages}"
                    th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${(paging.number / 10) * 10 + 10}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
        <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
    </div>
</html>